---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BlogSearch from "@components/BlogSearch.astro";
import NewsletterForm from "@components/NewsletterForm.astro";
import { BLOG } from "@consts";

const data = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));

// Prepare posts data for search
const searchPosts = data.map((post) => ({
  slug: post.slug,
  title: post.data.title,
  description: post.data.description,
  date: post.data.date.toISOString(),
}));
---

<PageLayout
  title={BLOG.TITLE}
  description={BLOG.DESCRIPTION}
  keywords="blog, articles, software engineering, programming, tutorial, tips, experience"
>
  <Container>
    <div class="space-y-10">
      <div class="space-y-4">
        <div class="animate font-semibold text-black dark:text-white text-xl">
          Blog
        </div>
        <div class="animate">
          <BlogSearch posts={searchPosts} />
        </div>
      </div>
      <div class="space-y-4">
        {
          years.map((year) => (
            <section class="animate space-y-4" data-blog-section>
              <div class="font-semibold text-black dark:text-white">{year}</div>
              <div>
                <ul class="flex flex-col gap-4">
                  {posts[year].map((post) => (
                    <li
                      data-blog-item
                      data-title={post.data.title}
                      data-description={post.data.description}
                    >
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          ))
        }
      </div>

      <!-- Newsletter -->
      <section class="animate">
        <NewsletterForm />
      </section>
    </div>
  </Container>
</PageLayout>
